@import "./css/base.scss";

//*------------------*
//*  header
//*------------------*
.header {
  width: 100%;
  position: fixed;
  z-index: 20;

  &__inner{
    max-width: 1610px;
    margin: 0 auto;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    width: 260px;
    color:#fff;

    @include mobile(){
      width: 189px;
    }
    a{
      display: flex;
      align-items: center;
    }

    &.black svg path{
      fill:#222;
      transition: fill .3s;
    }
  }

  &__nav{
    width: 36vw;
    height: 100vh;
    background-color: rgba(34, 34, 34, .95);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translateX(100%);
    opacity: 0;
    transition: transform .3s, opacity .3s;

    @include tablet(){
      width: 70vw;
    }
  }
}

.header__nav.active{
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s, opacity .3s;
}

.burger__btn{
  display: flex;
  align-items: center;
  position: fixed;
  top: 38px;
  right: 4vw;
  z-index: 10;

  .bar{
    display: block;
    background-color: white;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  
    .top{
      transform: translateY(-4px);
      transition: .3s;
    }

    .middle{
      transition: .3s;
    }
    
    .bottom{
      transform: translateY(4px);
      transition: .3s;
    }

  .menu{
    display: block;
    @include rem(10);
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-left: 5px;
  }
  
}

.burger-musk{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
}

.bar.black{
  background-color: #222;
  transition: .3s;
}
.menu.black{
  color: #222;
  transition: .3s;
}

.burger__btn.active{
  .top{
    transform: translateY(1px) rotate(45deg);
    transition: .3s;
  }
  .middle{
    display: none;
    transition: .3s;
  }
  .bottom{
    transform: translateY(-1px) rotate(-45deg);
    transition: .3s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-top: 180px;
}

.nav__item{
  @include rem(20);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 27px;

  img{
    width: 42.5px;
  }
  a{
    color: #fff;
  }

  @include tablet(){
    @include rem(16);

  }
}

/*-----------------
/*ファーストビュー
-------------------*/
.fv{
  height: 100vh;

  &::after{
    content: '';
    width: 54.2%;
    height: 100%;
    background-color: #222222;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
  }

  &__img{
    width: 76vw;
    min-height: 86.4%;
    background-image: url(../img/kv-img@2x.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
  }

  &__copy{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);
    z-index: 5;
    color: $font-color__white;
    letter-spacing: 0;
    line-height: 1.17;

    @include tablet(){
      right: -15%;
      transform: translate(0,-50%);
    }

    p{
      @include rem(20);
      margin: 0;

      @include tablet(){
        @include rem(16);
      }
    }
  }

  .copy__ttl{
    @include rem(72);
    font-weight: 400;
    margin-top: 4px;

    @include tablet(){
        @include rem(56);
    }
  }

}

/*-----------------
/*アバウト
-------------------*/

.about{
  margin-top: 120px;
  position: relative;

  @include tablet(){
    margin-top: 80px;
  }

  &__bg{
    width: 100%;

    padding: 110px 0 110px 50px;
    background-image: url(../img/about-img@2x.jpg);
    background-size: cover;
    background-position: center;

    @include tablet(){
      padding: 10vw 0;
    }
    
  }

  &__contents{
    max-width: 590px;
    background-color: #fff;
    color: $font-color__black;
    padding: 50px 30px;

    @include tablet(){
      width: 90%;
      margin: 0 4vw;
    }
      
  }

  &__ttl{
    @include rem(32);
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;

    @include mobile(){
      @include rem(28);
    }
  }

  &__text{
    max-width: 530px;
    @include rem(13.5);
    font-family: $font-ja;
    letter-spacing: 0;
    line-height: 2.0;

    @include tablet(){
      width: 100%;
      margin: 0;
    }

    @include mobile(){
      @include rem(14);
    }
  }

  .btn{
    margin-top: 30px;
  }

}

/*-----------------
/*ワークス/カルチャー（イントロ）
-------------------*/

.intro{
  background-color: #F0F0F0;
  padding-top: 176px;
  margin-top: -100px;

  @include tablet(){
    padding-top: 140px;
  }

  .section__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  &__card{
    width: 520px;
    margin: 0 2px 60px;
    }

  &__ttl{
    @include rem(32);
    font-weight: 400;
    margin: 0 0 30px;
    text-transform: uppercase;
  }

  &__text{
    @include rem(16);
    font-family: $font-ja;
    letter-spacing: 0;
    margin: 27px 0;
  }

}

/*-----------------
/*トピックス
-------------------*/

.topics{
  margin-top: 56px;

  @include tablet(){
    margin-top: 40px;
  }

  &__ttl{
    @include rem(32);
    font-weight: 400;
    margin-bottom: 29px;
    margin-right: auto;
    text-transform: uppercase;
  }

  &__list{
    width: 700px;
    margin-left: auto;
    padding: 0;

    @include tablet(){
      width: 100%;
      margin: 0;
    }
  }

  .list__item{
    margin-bottom: 29px;

    &__link{
      display: block;
    }

    .date{
      @include rem(10);
      font-weight: 500;
      color: #CECECE;
      margin: 0 0 9px;
    }
    .text{
      @include rem(14);
      font-family: $font-ja;
      font-weight: bold;
      color: #333;
      margin: 0;
      padding: 0 0 10px;
      border-bottom: 1px solid #DDDDDD;

      @include mobile(){
        @include rem(12);
      }
    }

  }

  .btn{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    
    @include tablet(){
      margin: 0;
    }
  }

}

/*-----------------
/*コンタクト
-------------------*/

.contact{
  background-color: #F2F2F2;
  margin-top: 60px;

  @include tablet(){
    margin-top: 40px;
  }

  @media screen and (max-width: 1200px) {
    padding-bottom: 80px;
  }

  .section__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1200px) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__contents{
    width: 440px;

    @media screen and (max-width: 1200px) {
      width: 580px;
    }

    @include tablet(){
      width: 100%;
    }

  }

  &__ttl{
    @include rem(32);
    font-weight: 400;
    text-transform: uppercase;
    }

  &__text{
    @include rem(16);
    font-family: $font-ja;
    letter-spacing: 0;
    margin-bottom: 30px;
    
  }

  &__img{
    max-width: 580px;
    margin: 60px 0 120px;

    @media screen and (max-width: 1200px) {
      margin-bottom: 26px;
    }
  }
}

/*-----------------
/*フッター
-------------------*/

.footer{
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #525252;
  color: #fff;
  text-align: center;
  @include rem(10);
  font-weight: 500;

  &__text{
    margin: 0;
    padding-top: 20px;
  }

}